<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
">
<bean id="waiterTarget" class="com.baobaotao.advisor.Waiter"></bean>
<bean id="sellerTarget" class="com.baobaotao.advisor.Seller"></bean>
<bean id="greetingAdvice" class="com.baobaotao.advisor.GreetingBeforAdvice"></bean>
<bean id="greetingAdvisor" class="com.baobaotao.advisor.GreetingAdvisor" p:advice-ref="greetingAdvice"></bean>
<bean id="parent" abstract="true" class="org.springframework.aop.framework.ProxyFactoryBean"
p:interceptorNames="greetingAdvisor"
p:proxyTargetClass="true"/>

<bean id="waiter" parent="parent" p:target-ref="waiterTarget"/>
<bean id="seller" parent="parent" p:target-ref="sellerTarget"/>

<bean id="regexpAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor"
p:advice-ref="greetingAdvice"
p:patterns=".*greet.*"/>

<bean id="waiter1" class="org.springframework.aop.framework.ProxyFactoryBean"
p:interceptorNames="regexpAdvisor"
p:target-ref="waiterTarget"
p:proxyTargetClass="true"/>

<bean id="dynamicAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor" >
<property name="pointcut"><bean class="com.baobaotao.advisor.GreetingDynamicPointcut"></bean></property>
<property name="advice"><bean class="com.baobaotao.advisor.GreetingBeforAdvice"></bean></property>
</bean>

<bean id="waiter2" class="org.springframework.aop.framework.ProxyFactoryBean"
p:interceptorNames="dynamicAdvisor"
p:target-ref="waiterTarget"
p:proxyTargetClass="true"/>

<bean id="controlFlowPointcut" class="org.springframework.aop.support.ControlFlowPointcut">
	<constructor-arg type="java.lang.Class">
        <value>com.baobaotao.advisor.WaiterDelegate</value>
    </constructor-arg>
    <constructor-arg>
        <value>service</value>
    </constructor-arg>
</bean>
<bean id="controlFlowAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor" 
p:pointcut-ref="controlFlowPointcut"
p:advice-ref="greetingAdvice"/>

<bean id="waiter3" class="org.springframework.aop.framework.ProxyFactoryBean"
p:interceptorNames="controlFlowAdvisor"
p:target-ref="waiterTarget"
p:proxyTargetClass="true"/>

<bean id="gcp" class="com.baobaotao.advisor.GreetingComposablePointcut"></bean>
<bean id="composableAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor" 
p:pointcut="#{gcp.intersectionPointcut}"
p:advice-ref="greetingAdvice"/>

<bean id="waiter4" class="org.springframework.aop.framework.ProxyFactoryBean"
p:interceptorNames="composableAdvisor"
p:target-ref="waiterTarget"
p:proxyTargetClass="true"/>

<bean id="waiter11" class="com.baobaotao.advisor.Waiter"></bean>
<bean id="seller11" class="com.baobaotao.advisor.Seller"></bean>

<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator"
p:beanNames="waiter11,seller11"
p:optimize="true"
p:interceptorNames="greetingAdvice"></bean>

</beans>